<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>travell</title>
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <section class="container block">
      <div class="accordion-wrraper">
        <div class="accordion__intro">
          <h2>رزومه و سوابق</h2>
          <span>
            <span>ویرایش</span>
            <span>
              <i class="far fa-edit"></i>
            </span>
          </span>
        </div>

        <div class="accordion">
          <header class="accordion__header">
            <h2 class="accordion__heading">سابقه تحصیلی</h2>
            <div>
              <span class=""><i class="fas fa-chevron-circle-left"></i></span>
            </div>
          </header>
          <div class="accordion__content">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores
            fuga nostrum quaerat tempore. Totam, inventore! Assumenda, unde non
            voluptates quaerat ullam officia ipsum aliquam, esse officiis,
            suscipit quos vero architecto!
          </div>
        </div>
        <div class="accordion">
          <header class="accordion__header">
            <h2 class="accordion__heading">سابقه تحصیلی</h2>
            <div>
              <span class=""><i class="fas fa-chevron-circle-left"></i></span>
            </div>
          </header>
          <div class="accordion__content">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores
            fuga nostrum quaerat tempore. Totam, inventore! Assumenda, unde non
            voluptates quaerat ullam officia ipsum aliquam, esse officiis,
            suscipit quos vero architecto!
          </div>
        </div>
      </div>
      <div class="select-type">
        <div class="select-control">
         
          <input type="radio" name="webinar" id="type-A" />
          <label for="type-A">عمومی</label>
        </div>
        <div class="select-control">
         
          <input type="radio" name="webinar" id="type-B" />
          <label for="type-B">اختصاصی</label>
        </div>
      </div>
    </section>
    <script src="/js/accordion.js"></script>
  </body>
</html>
