<footer class="main-footer">
  <div class="container footer">
    <div class="footer__item">
      <h6>تپسی لوگو</h6>
      <a href="">اپلیکیشن درخواست خودرو و پیک</a>
      <p>تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</p>
    </div>
    <div class="footer__item">
      <h6>تپسی</h6>
      <a href=""> معرفی راننده به تپسی </a>
      <a href="">تماس با ما</a>
      <a href="">وبلاگ تپسی</a>
      <a href="">فرصت شغلی</a>
      <a href="">لوگو و هویت سازمانی</a>
      <a href="">استخدام بازاریاب</a>
    </div>
    <div class="footer__item">
      <h6>مسافران</h6>
      <a href=""> باشگاه مشتریان</a>
      <a href=""> نسخه وب تپسی </a>
      <a href=""> پرسش‌های متداول مسافران </a>
      <a href=""> شرایط و قوانین مسافران </a>
      <a href="">دانلود اپ مسافر</a>
    </div>
    <div class="footer__item">
      <h6>ثبت نام راننده موتور</h6>
      <a href=""> دانلود اپ سفیر </a>
      <a href=""> باشگاه سفیران </a>
      <a href=""> شرایط و قوانین سفیران </a>

      <a href=""> پرسش‌های متداول سفیران </a>
    </div>
    <div class="footer__item">
      <h6>کسب و کارها</h6>
      <a href=""> ثبت نام راننده تاکسی اینترنتی </a>
      <a href="">رانندگان</a>

      <a href=""> خرید کد اعتبار و تخفیف </a>
    </div>
    <div class="footer__item enemad">
      <div class="footer__enemad">
        <img src="/assets/images/logo.png" alt="" />
      </div>
      <div class="footer__enemad">
        <img src="/assets/images/etehadiye.png" alt="" />
      </div>
      <div class="footer__enemad">
        <img src="/assets/images/logo.png" alt="" />
      </div>
    </div>
  </div>
</footer>
