<section class="hero-section">
  <picture>
    <source
      srcset="/assets/images/1.webp"
      type="image/webp"
      media="(min-width: 768px)"
    />
    <source
      srcset="/assets/images/2.jpg"
      type="image/jpg"
      media="(min-width: 768px)"
    />
    <source
      srcset="/assets/images/3.webp"
      type="image/webp"
      media="(max-width: 768px)"
    />
    <source
      srcset="/assets/images/4.jpg"
      type="image/jpg"
      media="(max-width: 768px)"
    />
    <img alt="banner" src="/assets/images/5.jpg" class="banner-img" />
  </picture>
  <div class="hero-wrapper container">
    <div class="intro-btn">
      <h1>تپسی</h1>
      <h2>اپلیکیشن درخواست خودرو و پیک</h2>
      <div class="inrro-wrapper">
        <div class="intro-btn__passenger passenger--primary">
          <span class="icon">
            <i class="fas fa-car"></i>
          </span>
          <p>دانلود اپلیکیشن مسافران</p>
        </div>
        <div class="intro-btn__passenger passenger--primary">
          <span class="icon">
            <i class="fas fa-car"></i>
          </span>
          <p>وب اپلیکیشن مسافران</p>
        </div>
        <div class="intro-btn__passenger passenger--secondary">
          <span class="icon">
            <i class="fas fa-car"></i>
          </span>
          <p>ثبت‌نام راننده خودرو</p>
        </div>
        <div class="intro-btn__passenger passenger--secondary">
          <span class="icon">
            <i class="fas fa-car"></i>
          </span>
          <p>ثبت‌نام راننده موتور</p>
        </div>
        <div class="intro-btn__passenger passenger--secondary">
          <span class="icon">
            <i class="fas fa-car"></i>
          </span>
          <p>دانلود اپلیکیشن رانندگان</p>
        </div>
      </div>
    </div>
  </div>
</section>
