<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>travell</title>
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <section class="container travell">
        <div class="travell__slides">
          <div class="travell__slide">
            <div class="slide__img">
              <img src="/assets/images/KlMcaRKsge.jpg" alt="" />
            </div>
            <div class="slide__detail">
              <div class="slide__header">
                <span class="badge badge--primary">ویژه</span>
                <p>اقامت رایگان&bull; سفر سه روزه</p>
              </div>
              <p class="slide__title">سفر به قلب کویر لوت</p>
              <div class="slide__icons">
                <div>
                  <i class="fas fa-heart"></i> <span>13</span
                  ><i class="far fa-eye"></i> <span>27</span>
                </div>
                <div>
                  <i class="far fa-edit"></i> <i class="far fa-trash-alt"> </i>
                </div>
              </div>
              <div class="avatar-group">
                <div class="avatar"><img src="/assets/images/wp2365083.jpg" alt=""></div>
                <div class="avatar"><img src="/assets/images/anime-boy-black-pfp-1.jpg" alt=""></div>
                <div class="avatar"><img src="/assets/images/images.jfif" alt=""></div>
              <div class="hidden-avatars">+10</div>
              <span class="slide__suggest">پیشنهاد</span>
              </div>
            </div>
          </div>
          <div class="travell__slide">
            <div class="slide__img">
              <img src="/assets/images/Car-Road-Trip-2.jpg" alt="" />
            </div>
            <div class="slide__detail">
              <div class="slide__header">
                <span class="badge badge--primary">ویژه</span>
                <p>اقامت رایگان&bull; سفر سه روزه</p>
              </div>
              <p class="slide__title">سفر به سواحل شمالی</p>
              <div class="slide__icons">
                <div>
                  <i class="fas fa-heart"></i> <span>13</span
                  ><i class="far fa-eye"></i> <span>27</span>
                </div>
                <div>
                  <i class="far fa-edit"></i> <i class="far fa-trash-alt"> </i>
                </div>
              </div>
              <div class="avatar-group">
                <div class="avatar"><img src="/assets/images/wp2365083.jpg" alt=""></div>
                <div class="avatar"><img src="/assets/images/anime-boy-black-pfp-1.jpg" alt=""></div>
                <div class="avatar"><img src="/assets/images/images.jfif" alt=""></div>
              <div class="hidden-avatars">+10</div>
              <span class="slide__suggest">پیشنهاد</span>
              </div>
            </div>
          </div>
          <div class="travell__slide">
            <div class="slide__img">
              <img src="/assets/images/Most-Comfortable-Cars-for-Long-Trips.jpg" alt="" />
            </div>
            <div class="slide__detail">
              <div class="slide__header">
                <span class="badge badge--primary">ویژه</span>
                <p>اقامت رایگان&bull; سفر سه روزه</p>
              </div>
              <p class="slide__title">سفر دوستانه</p>
              <div class="slide__icons">
                <div>
                  <i class="fas fa-heart"></i> <span>13</span
                  ><i class="far fa-eye"></i> <span>27</span>
                </div>
                <div>
                  <i class="far fa-edit"></i> <i class="far fa-trash-alt"> </i>
                </div>
              </div>
              <div class="avatar-group">
                <div class="avatar"><img src="/assets/images/wp2365083.jpg" alt=""></div>
                <div class="avatar"><img src="/assets/images/anime-boy-black-pfp-1.jpg" alt=""></div>
                <div class="avatar"><img src="/assets/images/images.jfif" alt=""></div>
              <div class="hidden-avatars">+10</div>
              <span class="slide__suggest">پیشنهاد</span>
              </div>
            </div>
          </div>
          <div class="travell__slide">
            <div class="slide__img">
              <img src="/assets/images/HD-wallpaper-car-on-the-beach-car-sarf-sand-palms-travel-beach-thumbnail.jpg" alt="" />
            </div>
            <div class="slide__detail">
              <div class="slide__header">
                <span class="badge badge--primary">ویژه</span>
                <p>اقامت رایگان&bull; سفر سه روزه</p>
              </div>
              <p class="slide__title">سفر به جنوب کشور</p>
              <div class="slide__icons">
                <div>
                  <i class="fas fa-heart"></i> <span>13</span
                  ><i class="far fa-eye"></i> <span>27</span>
                </div>
                <div>
                  <i class="far fa-edit"></i> <i class="far fa-trash-alt"> </i>
                </div>
              </div>
              <div class="avatar-group">
                <div class="avatar"><img src="/assets/images/wp2365083.jpg" alt=""></div>
                <div class="avatar"><img src="/assets/images/anime-boy-black-pfp-1.jpg" alt=""></div>
                <div class="avatar"><img src="/assets/images/images.jfif" alt=""></div>
              <div class="hidden-avatars">+10</div>
              <span class="slide__suggest">پیشنهاد</span>
              </div>
            </div>
          </div>
        </div>
      </section>
  </body>
</html>
